body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 2em;
    margin: 0;
  }
  
  p {
    font-size: 1.5em;
    line-height: 1.5;
  }
  
  section {
    padding: 20px;
  }
  
  #work {
    display: flex;
    flex-wrap: wrap;
  }
  
  .project {
    width: 30%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .project img {
    width: 100%;
    height: auto;
  }
  
  footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }
  .background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* Place the image behind all other content */
    object-fit: cover;
  }